<br>
<h2 class="uk-margin-top uk-margin-large-left">Properties: </h2>

<div class="uk-margin-small uk-margin-medium-left uk-margin-medium-right">
  <div class="uk-margin-small uk-card uk-card-default uk-card-body">
    <table class="uk-table uk-table-striped uk-table-hover uk-table-justify">
      <thead>
          <tr>
              <th>Name</th>
              <th>Address</th>
              <th># of units</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let property of properties"  href="#modal-center" uk-toggle (click)="selectProperty(property)">
              <td>{{ property.name }}</td>
              <td>{{ property.address }}</td>
              <td>{{ property.units.length }}</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="modal-center" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <div *ngIf="selectedProperty">
          <app-property [property]="selectedProperty" ></app-property>
        </div>
    </div>
</div>
